
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <script src="/assets/js/angular.js"></script>
  <script src="/assets/js/angular-swing.js"></script>
  <script type="text/javascript">
    var data = {{data|raw|json_encode}}
  </script>
  <script src="/js/app.js"></script>
  <script src="/js/app_config.js"></script>
  <script src="/js/controllers/homeCtrl.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/style.css"></link>
</head>
<body ng-controller='homeCtrl'>
  <div id="viewport">
    <ul class="stack" id='cardStack'>
      <img src="/assets/images/messages.png" class='messages-link'>
      <li ng-repeat='card in cards' on-finish-render="ngRepeatFinished">
        <img ng-src="[[card.imageLink]]" class='image'>
        <div class="info">[[card.name]], [[card.age]]</div>
        <div class="overlay"></div>
        <div class="overlay-text">
          <span class='like'>LIKE</span>
          <span class='nope'>NOPE</span>
        </div>
      </li>
      <div ng-show='match' class="match-screen">
        <div class='match-black-screen'>
        <img src="/assets/images/match.png" class='match-screen-img'>
          <div class='match-text'>You and [[currentMatch.name]] have liked each other!</div>
          <img ng-src='[[currentMatch.imageLink]]' class='match-image'>
          <div class='exit-match-screen' ng-click="leaveMatchScreen()">Awesome!</div>
        </div>
      </div>
      <div id='gamepad'>
        <img id='gamepad-no' src='/assets/images/no.png' ng-click='gamePadLeft($event)'></img>
        <img id='gamepad-yes' src='/assets/images/yes.png' ng-click='gamePadRight($event)'></img>
      </div>
    </ul>
  </div>
</body>
<html>
